[data-slot="header-root"] {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

[data-slot="header-lang"] {
    align-self: flex-end;
}

[data-slot="header-nav"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[data-slot="header-navstats"] {
    font-size: 0.9rem;
    opacity: 0.85;
}
